<div class="main-container">
    <header class="header-container">
        <div class="parent-div">
            <div class="img-div">
                <img class="logo-img" src="https://miro.medium.com/max/875/1*Up8iD0NvJXWUAAht-ihAdA.jpeg" alt="logo">
            </div>
            <nav class="nav-div">
                <div class="cat-div" *ngFor="let cat of nav_content">
                    <div class="men-div">
                    <div class="cat-name-div">
                        Genre
                    </div>
                    <div class="men-dropdwn">
                        <div class="cat-title">
                            {{cat.Genre.name}}
                        </div>
                        <div *ngFor="let type of cat.Genre.types" class="cat-type">
                            <ul>
                                <li>
                                    {{type}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="women-div">
                    <div class="cat-name-div">
                        Language
                    </div>
                    <div class="women-dropdwn">
                        <div class="cat-title">
                            {{cat.Language.name}}
                        </div>
                        <div *ngFor="let type of cat.Language.types" class="cat-type">
                            <ul>
                                <li>
                                    {{type}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="kids-div">
                    <div class="cat-name-div">
                        Mood
                    </div>
                    <div class="kids-dropdwn">
                        <div class="cat-title">
                            {{cat.Mood.name}}
                        </div>
                        <div *ngFor="let type of cat.Mood.types" class="cat-type">
                            <ul>
                                <li>
                                    {{type}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="others-div">
                    <div class="cat-name-div">
                        Charts
                    </div>
                    <div class="others-dropdwn">
                        <div class="cat-title">
                            {{cat.Charts.name}}
                        </div>
                        <div *ngFor="let type of cat.Charts.types" class="cat-type">
                            <ul>
                                <li>
                                    {{type}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </nav>
        </div>
    </header>
</div>